.hbe-input-field{
	margin: 0 auto;
	display: block;
	outline: none;
	line-height: 20px;
	font-size: 12px;
	padding: 2px 8px;
	width: 220px;
}

.hbe-input >.hbe-input-label >span.hbe-input-label-content{
	font-size: 12px;
	line-height: 24px;
	padding-top: 4px;
	display: block;
	text-align: center;
}

.hbe-container .hbe-button{
	border: 0;
	border-bottom: 1px solid #24292e;
	line-height: 26px;
	font-size: 14px;
	background: transparent;
	cursor: pointer;
}